@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.button {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 9px 15px 8px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: #756157;
  color: #ffffff;
  border: none;
  text-decoration: none;
  border-radius: 4px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #E5E5E5;
  color: #ffffff;
}

.button-second {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 9px 15px 8px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: #82b3d3;
  color: #ffffff;
  border: none;
  text-decoration: none;
  border-radius: 4px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.button-second:hover {
  background-color: #68A2CA;
}

.button-second:focus {
  background-color: #68A2CA;
}

.button-second:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-second:disabled {
  background-color: #E5E5E5;
  color: #ffffff;
}

.button-added {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 9px 15px 8px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: #7DB54F;
  color: #ffffff;
  border: none;
  text-decoration: none;
  border-radius: 4px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.button-added:hover {
  background-color: #6C9E42;
}

.button-added:focus {
  background-color: #6C9E42;
}

.button-added:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.button-added:disabled {
  background-color: #E5E5E5;
  color: #ffffff;
}

.navigation {
  display: flex;
  margin: 0 70px;
  margin-bottom: -1px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
}

.navigation-logo {
  width: 139px;
  margin-right: 30px;
  z-index: 1;
}

.current-page {
  border-bottom: 2px solid #756257;
}

.page-header-logo {
  position: absolute;
  display: block;
}

.navigation-menu {
  max-width: 390px;
}

.navigation-user {
  margin-left: auto;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 0;
  margin-right: 24px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.favourite-counter {
  box-sizing: border-box;
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 3px 0 5px;
  top: 12px;
  right: -13px;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  border-radius: 10px;
  background-color: #7DB54F;
  color: #ffffff;
}

.navigation-button {
  min-width: 160px;
}

.main-container {
  flex-grow: 1;
}

.logo {
  position: relative;
  background-color: #83afad;
  background-image: url(../images/main-background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.logo::after {
  position: absolute;
  width: 1200px;
  height: 57px;
  bottom: 0;
  background-image: url("../images/vector-icons/divider.svg");
  background-repeat: no-repeat;
  content: "";
}

.main-logo {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.slogan {
  padding-top: 64px;
  margin: 0 auto;
  max-width: 620px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.slogan-desc {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-top: 31px;
  margin-bottom: 90px;
  color: #333333;
}

.advantages-list {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-list-other {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-height: 384px;
}

.advantages-item-other {
  width: 400px;
}

.housing-container,
.eating-container,
.souvenir-container {
  margin: 0 auto;
  max-width: 230px;
  padding: 182px 85px 81px;
}

.housing-container {
  background-image: url(../images/vector-icons/housing.svg);
  background-repeat: no-repeat;
  background-position: center 80px;
}

.eating-container {
  background-image: url(../images/vector-icons/eating.svg);
  background-repeat: no-repeat;
  background-position: center 80px;
}

.souvenir-container {
  background-image: url(../images/vector-icons/souvenir.svg);
  background-repeat: no-repeat;
  background-position: center 80px;
}

.advantages-item {
  width: 400px;
  min-height: 384px;
}

.advantages-item-1 {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

.advantages-image {
  display: block;
}

.advantages-item-title,
.advantages-item-other-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-item p {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-item-1-container {
  max-width: 230px;
  padding: 92px 85px;
  background-color: #82b3d3;
  width: 400px;
  color: #ffffff;
}

.advantages-item-2-container {
  padding: 92px 85px;
  color: #ffffff;
}

.advantages-item-1-container p,
.advantages-item-2-container p {
  color: #ffffff;
}

.advantages-item-1-wrap,
.advantages-item-2-wrap {
  display: flex;
  margin: 0;
  padding: 0;
}

.advantages-item-3-container,
.advantages-item-4-container,
.advantages-item-5-container {
  padding: 103px 85px 102px;
}

.advantages-item-2 {
  display: flex;
  width: 1200px;
  background-color: #82b3d3;
}

.housing,
.souvenir,
.advantages-item-3,
.advantages-item-5 {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-4 {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-number {
  margin: 30px 0;
}

.advantages-desc {
  margin: 0;
}

.search-product {
  text-align: center;
}

.search-product-subtitle {
  margin: 91px auto 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-product-desc {
  max-width: 592px;
  margin: 0 auto 56px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.search-product-link {
  display: block;
  box-sizing: border-box;
  margin: 0 auto 93px;
  padding: 12px 15px;
  max-width: 574px;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.field {
  flex-grow: 1;
  padding: 20px 22px 19px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background: #F2F2F2;
  border: none;
  border-radius: 10px 0 0 10px;
}

.newsletter-button {
  background-color: #82B3D3;
  padding: 12px 15px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 10px 10px 0;
  min-width: 200px;
}

.newsletter {
  background-image: url(../images/background-subscribe.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #88c7c9;
  text-align: center;
  color: #ffffff;
}

.newsletter-wrap {
  padding: 94px 200px;
}

.newsletter-title {
  margin: 0 auto 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-desc {
  margin: 0 auto 46px;
  max-width: 475px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.footer-container {
  display: flex;
  padding: 40px 70px 30px;
  align-items: center;
}

.footer-socials-list {
  padding: 0;
  display: flex;
  list-style-type: none;
}

.socials-button {
  width: 48px;
  height: 40px;
  background-color: #ffffff;
  padding: 12px;
  outline: none;
}

.social-icon {
  fill: #83B3D3;
}

.social-icon:hover {
  fill: #68A2CA;
}

.social-icon:focus {
  fill: #68A2CA;
}

.social-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.contacts {
  margin: 0 auto;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #000000;
}

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.about-logo {
  width: 115px;
  height: 33px;
}

.about-icon {
  fill: #000000;
}

.about-icon:hover {
  fill: #756157;
}

.about-icon:focus {
  fill: #756157;
}

.about-icon:active {
  fill: rgba(117, 97, 87, 0.3);
}

.modal-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 70px;
  background-color: #ffffff;
}

.modal-search-hotel {
  box-sizing: border-box;
  width: 715px;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  border: none;
  background-image: url("../images/vector-icons/cross.svg");
  background-color: #F2F2F2;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
}

.modal-close-button:active {
  background-color: #E6E6E6;
  opacity: 0.3;
}

.modal-title {
  font-family: 'PT Sans';
  margin: 0 0 63px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.search-hotel-form {
  display: grid;
  grid-template-columns: 157px 189px 231px;
  row-gap: 40px;
}

.field-group {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.arrival-group,
.departure-group {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column: 1 / -1;
  align-items: center;
}

.arrival-group::before {
  position: absolute;
  content: "";
  background-image: url("../images/vector-icons/date.svg");
  width: 15px;
  height: 15px;
  right: 20px;
  opacity: 0.3;
}

.departure-group::before {
  position: absolute;
  content: "";
  background-image: url("../images/vector-icons/date.svg");
  width: 15px;
  height: 15px;
  right: 20px;
  opacity: 0.3;
}

.arrival-group::after {
  position: absolute;
  top: 55px;
  left: -65px;
  content: "Мы не можем отправить вас в прошлое.";
  margin-left: 225px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FF5757;
}

.departure-group::after {
  position: absolute;
  top: 55px;
  left: -65px;
  margin-left: 225px;
  content: "На эти даты есть свободные номера. Пока есть.";
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.modal-field {
  box-sizing: border-box;
  width: 420px;
  padding: 15px 19px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background: #F2F2F2;
  border: none;
  border-radius: 4px;
}

.modal-field::placeholder {
  color: #000000;
}

.modal-field:hover {
  background: #E6E6E6;
}

.modal-field:focus {
  outline: 3px solid #83B3D3;
}

.modal-field:active {
  background-color: #FFFFFF;
  outline: 2px solid #000000;
}

.adult-group {
  display: grid;
  grid-template-columns: 157px 189px;
  grid-column: 1 / 3;
  align-items: center;
}

.adult-amount-field {
  width: 133px;
  padding-left: 61px;
}

.adult-group .button-minus {
  position: absolute;
  top: 20px;
  left: 170px;
  width: 13px;
  height: 13px;
  background-image: url("../images/vector-icons/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  opacity: 0.3;
  cursor: pointer;
}

.adult-group .button-plus {
  position: absolute;
  top: 20px;
  right: 70px;
  width: 13px;
  height: 13px;
  background-image: url("../images/vector-icons/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  opacity: 0.3;
  cursor: pointer;
}

.adult-group .button-plus:hover,
.adult-group .button-minus:hover {
  opacity: 1;
}

.adult-group .button-plus:focus,
.adult-group .button-minus:focus {
  opacity: 1;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.adult-group .button-plus:active,
.adult-group .button-minus:active {
  opacity: 0.2;
  outline: none;
}

.children-amount-field {
  position: relative;
  box-sizing: border-box;
  width: 133px;
  margin-left: auto;
  padding-left: 61px;
}

.modal-field::-webkit-outer-spin-button,
.modal-field::-webkit-inner-spin-button {
  appearance: none;
}

.children-group {
  display: flex;
  align-items: center;
}

.children-amount-field::placeholder,
.adult-amount-field::placeholder {
  color: #000000;
}

.children-group .button-minus {
  position: absolute;
  top: 20px;
  left: 110px;
  width: 13px;
  height: 13px;
  background-image: url("../images/vector-icons/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  opacity: 0.3;
  cursor: pointer;
  z-index: 1;
}

.children-group .button-plus {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 13px;
  height: 13px;
  background-image: url("../images/vector-icons/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  opacity: 0.3;
  cursor: pointer;
}

.children-group .button-plus:hover,
.children-group .button-minus:hover {
  opacity: 1;
}

.children-group .button-plus:focus,
.children-group .button-minus:focus {
  opacity: 1;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.children-group .button-plus:active,
.children-group .button-minus:active {
  opacity: 0.2;
  outline: none;
}

.modal-button {
  grid-column: 1 / -1;
  padding: 12px 26px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.modal-button:hover {
  background-color: #68A2CA;
}

.modal-button:focus {
  background-color: #68A2CA;
  outline: 3px solid #756257;
}

.modal-button:active {
  background-color: #68A2CA;
  outline: none;
}

.tooltip {
  position: absolute;
  margin-top: 0;
  margin-left: 5px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 25px;
  height: 25px;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 50%;
}

.tooltip-icon:hover {
  background: #68A2CA;
}

.tooltip-text {
  position: absolute;
  display: none;
  box-sizing: border-box;
  margin-top: 15px;
  left: -110px;
  padding: 15px 18px 18px 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-transform: none;
  color: #FFFFFF;
  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 256px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::before {
  content: '';
  background-image: url("../images/vector-icons/corner.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* Catalog */

.catalog-container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

.main-catalog-header {
  padding: 35px 70px 70px;
  background-color: #5397a8;
  background-image: url(../images/background-catalog-filter.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: #ffffff;
}

.catalog-title {
  margin: 0 0 10px 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.breadcrumbs:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs:active {
  color: rgba(255, 255, 255, 0.3);
}

.home-link {
  margin-right: 50px;
  position: relative;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  right: -40px;
  background-repeat: no-repeat;
  background-image: url(../images/vector-icons/arrow.svg);
  transform: rotate(-90deg);
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-icon {
  position: absolute;
  color: #ffffff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.catalog-filter-form {
  display: flex;
}

.catalog-filter-group {
  margin: 0 70px 0 0;
  padding: 0;
  border: none;
}

.catalog-filter-group:nth-child(2) {
  margin-right: auto;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  margin-bottom: 30px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.control {
  position: relative;
  display: block;
  padding-left: 40px;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 1px;
  left: 0;
  background: #FFFFFF;
  border-radius: 4px;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control:focus .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83B3D3;
}

.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  background-image: url("../images/vector-icons/control-checkbox.svg");
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 40px;
  background-repeat: no-repeat;
  content: "";
}

/* Radio */

.control-input[type="radio"] + .control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 1px;
  left: 0;
  background: #FFFFFF;
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  background: #3F5E72;
  border-radius: 50%;
  content: "";
  transform: translateX(50%) translateY(50%);
}

.range-wrapper-inputs {
  display: flex;
}

.price-input-min {
  box-sizing: border-box;
  width: 144px;
  padding: 14px 19px 13px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 4px 0 0 4px;
  color: #ffffff;
  outline: 0;
}

.price-input-max {
  box-sizing: border-box;
  width: 144px;
  padding: 14px 19px 13px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 0 4px 4px 0;
  color: #ffffff;
  outline: 0;
}

.price-input-max::placeholder,
.price-input-min::placeholder {
  text-align: end;
}

.price-input-max:hover,
.price-input-min:hover {
  opacity: 0.6;
}

.price-input-max:focus,
.price-input-min:focus {
  border-color: #FFFFFF;
  box-shadow: 0 0 0 3px #81B3D2;
}

.price-input-max:active,
.price-input-min:active {
  background-color: #756257;
  border-color: #ffffff;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 32px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -10px;
  left: 0;
}

.toggle-max {
  top: -10px;
  left: 216px;
}

.catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 15px;
}

.catalog-filter-item:last-child {
  margin: 0;
}

.catalog-filter-btn {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  width: 160px;
}

.button-reset {
  padding: 14px 15px;
  border: 0;
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-reset:active {
  opacity: 0.3;
}

.filter-results-container {
  margin: 50px 72px 56px;
  display: flex;
}

.catalog-filter-results a {
  text-decoration: none;
}

.catalog-filter-results-count {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}


.select-control {
  margin-left: 191px;
  margin-right: 78px;
  padding-left: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  min-width: 290px;
  color: #333333;
  background-image: url(../images/vector-icons/arrow-select.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;
  outline: none;
}

.select:hover {
  border: 2px solid #68A2CA;
}

.select:focus {
  border: 2px solid #68A2CA;
}

.select:active {
  border: 2px solid #3F5E72;
}

.btn-grouping {
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.btn-grouping:hover {
  border: 2px solid #000000;
}

.btn-grouping:focus {
  border: 2px solid #68A2CA;
}

.btn-grouping:active {
  border: 2px solid #000000;
}

.btn-slideshow,
.btn-list {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px 18px;
  margin: 0 71px 66px 73px;
  padding: 0;
  list-style-type: none;
}

.product-card {
  padding: 20px;
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
}

.product-card-link-image {
  grid-column: 1 / -1;
}

.product-card-image {
  object-fit: contain;
}

.product-card-link-title {
  grid-column: 1 / -1;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-card-title {
  margin: 0;
}

.product-card-type,
.product-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-link-more {
  padding: 9px 0;
  text-align: center;
  background-color: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.rating-stars {
  display: flex;
  align-items: center;
}

.rating-text {
  padding: 8px 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.star {
  width: 18px;
  height: 17px;
  margin-right: 6px;
}

.pagination {
  margin: 0 71px 25px 73px;
  padding-top: 30px;
  display: flex;
  align-items: center;
  border-top: 1px solid #E6E6E6;
}

.pagination-list {
  padding: 0;
  display: flex;
  list-style-type: none;
}

.pagination-item {
  display: flex;
  margin-right: 8px;
}

.pagination-link {
  width: 60px;
  height: 60px;
  background-color: #82b3d3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-current:hover {
  color: #000000;
  background-color: #F2F2F2;
}

.product-on-page {
  margin-left: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  display: flex;
}

.product-on-page span {
  padding: 14px 0 12px;
}

.product-on-page-select {
  min-width: 160px;
  margin-left: 51px;
  padding: 14px 20px;
  background-image: url(../images/vector-icons/arrow-select.svg);
  background-position: right 21px center;
  background-repeat: no-repeat;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  color: #333333;
  appearance: none;
}

.newsletter-catalog {
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  color: #000000;
}
